---
import { Image } from 'astro:assets';
import face from '../assets/Thumbnail.jpg'

---
<div id="about-me"></div>
<div class="aboutContainer">		
    <article class="aboutmeInfo">
        <div class="aboutMeTitle">
            <h2>About Me</h2>
            <div class="imagesContainer">
                <Image 
                src={face} 
                alt="Profile Picture" 
                width={100} 
                height={100} 
                style="border-radius: 50%;" 
                format="webp" 
                quality={80}
                fit="cover" 
                position="center"  
                />
            </div>
        </div>
        <div class="aboutMeGrid">
            <p class="aboutMeContainers">
                Hi, I'm Angela—a <span>self-taught full-stack developer</span> with a deep passion for 
                <span>problem-solving</span>, <span>creativity</span>, and lifelong learning. My predominant
                stack includes <span>React with Next.js</span>, <span>Node.js with Express.js</span>, <span>PostgreSQL</span>, 
                and <span>MongoDB</span>.
            </p>
            <p class="aboutMeContainers">
                My journey into tech is a testament to my <span>curiosity</span> and resilience— 
                I taught myself programming and even learned English on my own, proving my ability 
                to <span>adapt</span>, <span>think critically</span>, and master new skills independently.
                I'm always open to learn new technologies and improve my craft.
            </p>  
            <p class="aboutMeContainers">
                Before stepping into the world of development, I built a career in physical therapy 
                where I spent over six years. 
                This experience shaped my ability to <span>understand people’s needs</span>, think 
                <span>empathetically</span>, and create <span>effective, user-centered solutions</span>.
            </p>      
            <p class="aboutMeContainers">
                I believe that changing careers isn’t about starting over—it’s about <span>evolving</span>. 
                Every skill I’ve gained in my previous profession adds value to my work as a developer, 
                allowing me to see problems from different perspectives and approach challenges with 
                <span>adaptability</span> and <span>determination</span>.  
            </p> 
        </div>
    </article>
    
</div>

<style>
    #about-me {
        background-color: rgb(7, 7, 20);
        padding: 2rem;
        margin: 0;
    }
    .aboutContainer {
        width: 70dvw;
		margin: 0 auto 10rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 3rem;
    }
    .aboutmeInfo{
        flex: 1 0 50%;
    }
    .aboutMeTitle{
        display: flex;  
        align-items: center;
        gap: 2rem;
    }

    h2 {
        color: rgba(255, 251, 25, 0.658);
        font-size: 2rem;
    }

    
    span {
        color: rgba(255, 251, 25, 0.658);

    }

    p {
        color: #d4d4d4;
        font-size: 1rem;
        padding: 1rem;
    }

    .aboutMeGrid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 1rem;
    }


    .aboutMeContainers {
        background-color: rgba(15, 15, 44, 0.8);
        border-radius: 0.5rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .aboutMeContainers:hover {
        transform: scale(1.05);
        background-color: rgba(15, 15, 44, 1);
    }


    .aboutMeContainers:hover img {
        transform: scale(1.1);        
    }

    @media screen and (max-width: 480px) {
        .aboutContainer {
            width: 90dvw;
        }
        h2{
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }

        .aboutMeGrid{
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        
    }

</style>