---

---

<nav>
    <ul>
        <li><a href="#me">Hey!</a></li>
        <li><a href="#skills">Skills</a></li>       
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<style>
    nav {
        background-color: transparent;
        padding: 1rem;
        margin: 0 auto;
        display:flex;
        justify-content: center;
        position: sticky; 
        top: 0; 
        z-index: 1000; 
        background-color: rgb(7, 7, 20);
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        transition: all 0.5s ease-out;
    }

    a {
        color: white;
        font-weight: 400;
        text-decoration: none;
    }

    li:hover {
        background-color: rgb(15, 15, 44);
        a {
            color: rgba(255, 251, 25, 0.658);  
        } 
    }

    @media screen and (max-width: 480px) {
        ul {
           font-size: 0.75rem;
           gap: 0.5rem;
        }
        
    }

</style>